/* Feuille de style spécifique au document avec l'enquête et les résultats.
 */

@page:left {
  margin-left: 35mm;
  margin-right: 35mm;
  margin-top: 30mm;
  margin-bottom: 30mm;
}

@page:right {
  margin-left: 35mm;
  margin-right: 35mm;
  margin-top: 30mm;
  margin-bottom: 30mm;
}

.front-matter-container {
  break-after: avoid;
}

.front-matter {
  break-after: avoid;
}

.main p {
  margin-top: 0;
  margin-bottom: 0.2em;
  text-indent: 2em;
  text-align: justify;
}

.figure .caption {
  text-indent: 0;
}

.pagedjs_page .main:first-child > .level1:first-child > .level2:first-child > h2:first-child {
  margin-top: 0;
  line-height: 1em;
}

/* generated content */
a[href^="http"]:not([class="uri"])::after {
  content: " (" attr(href) ")";
  font-size: 90%;
  hyphens: none;
  word-break: break-all;
}
.references a[href^=http]:not([class=uri])::after {
  content: none;
}
.main a[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after {
  content: " (page " target-counter(attr(href), page) ")";
}
.main a.front-matter-ref[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after {
  content: " (page " target-counter(attr(href), page, lower-roman) ")";
}
/* do not include page references in code blocks */
.sourceCode a[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after,
.sourceCode a.front-matter-ref[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after {
  content: unset;
}

.footnotes {
  break-after: always;
}

.colophon-clear {
  break-before: avoid;
  break-after: avoid;
}

#colophon {
  break-before: avoid;
}