<div class="colophon-clear"></div>
<div id="colophon">
  <p class="author">
    Enquête et documents réalisés par Lunar et Mélissa de la Dérivation avec l'aide d'Angie
    Gaudion, Pouhiou et Pierre-Yves Gosset.
  </p>
  <p>
    Source :<br/>
    <a class="uri" href="https://framagit.org/derivation/enquete-accompagnements/">https://framagit.org/derivation/enquete-accompagnements/</a>
  </p>
  <p>
    Image de couverture par David Revoy sous licence CC BY.<br/>
    <a class="uri" href="https://www.davidrevoy.com/article626/contributopia">https://www.davidrevoy.com/article626/contributopia</a>
  </p>
  <p>
    Icônes par Adrien Coquet</a> sous licence CC BY.<br/>
    <a class="uri" href="https://thenounproject.com/coquet_adrien">https://thenounproject.com/coquet_adrien</a>
  </p>
  <p class="copyright">
    © Framasoft, 2020<br />
    <a class="uri" href="https://framasoft.org/">https://framasoft.org/</a>
  </p>
  <div class="licence">
    <p>
      Ce document est sous licence Creative Commons<br />Attribution – Partage dans les Mêmes Conditions 4.0 International<br />
      (CC BY-SA 4.0)<br />
      <a class="uri" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">https://creativecommons.org/licenses/by-sa/4.0/deed.fr</a>
    </p>
  </div>
</div>
