<!-- If we are running under Puppeteer, that probably means the rendering
  -- will be started after some extra setup. Let's deactivate auto rendering
  -- in that case.
  -->
<script>
  if (navigator && navigator.webdriver) {
    window.PagedConfig.auto = false;
  }
</script>

<!-- Sadly support for Hyphenation in pagedown has not been merged as of
  -- 2020-08-01. See: https://github.com/rstudio/pagedown/pull/34/files
  -- So we must integrate Hyphenopoly ourselves.ourselves
  -->
<script>
const Hyphenopoly = {
  require: {
    "fr": "FORCEHYPHENOPOLY",
  },
  setup: {
    hide: "none",
    timeout: 30000,
    defaultLanguage: "fr",
    dontHyphenate: {
        video: true,
        audio: true,
        script: true,
        code: true,
        pre: true,
        img: true,
        br: true,
        samp: true,
        kbd: true,
        var: true,
        abbr: true,
        acronym: true,
        sub: true,
        sup: true,
        button: true,
        option: true,
        label: true,
        textarea: true,
        input: true,
        math: true,
        svg: true,
        style: true,
        h1: true,
        h2: true,
        h3: true,
        h4: true,
        h5: true,
        h6: true
    },
    dontHyphenateClass: "no-hyphenation"
    
  },
  handleEvent: {
    error: function(e) {
      // Hide error message that no elements have been processed for
      // the specified languages. We know as we are going to run
      // the hyphenation process as a paged.js hook (see below)
      if (e.message.includes("but no elements found")) {
        e.preventDefault();
      }
    },
  }
};
</script>
<script src="node_modules/hyphenopoly/Hyphenopoly_Loader.js"></script>
<script>
Paged.registerHandlers(class extends Paged.Handler {
  constructor(chunker, polisher, caller) {
      super(chunker, polisher, caller);
  }
  
  beforeParsed(content) {
    return Hyphenopoly.hyphenators.HTML.then((hyn) => {
      content.querySelectorAll(".main, .front-matter").forEach((node) => {
        // Ensure we have the required lang attribute at the root of
        // the DOM fragment
        node.lang = document.querySelector("html").lang;
        hyn(node);
      });
    });
  }
});
</script>